atomicwrites==1.4.0
blinker==1.7.0
click-plugins==1.1.1
cligj==0.7.2
dash==2.9.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
et-xmlfile==1.1.0
fiona==1.9.5
Flask==3.0.2
geopandas==0.14.3
gunicorn==21.2.0
inflection==0.5.1
itsdangerous==2.1.2
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
plotly==5.19.0
ply==3.11
pyls-spyder==0.4.0
pyproj==3.6.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
retrying==1.3.4
shapely==2.0.3
tenacity==8.2.3
typing_extensions==4.10.0
tzdata==2024.1
watchdog==4.0.0
webencodings==0.5.1
Werkzeug==3.0.1
django==4.1
geopandas==0.14.3
django_plotly_dash==2.3.1
django-filter==2.4.0
django-import-export==2.6.1
django-crispy-forms==1.14.0
crispy-bootstrap4
django-select2
django-pandas